<app-navbar></app-navbar>
<div style="display: flex; flex-direction:column;align-items: center; justify-content: center;height:400px;">
  <h1>Add a new Doctor</h1>
  <div style="display:flex; gap:8px; align-items:center">
    <h2>Doctor Name</h2>
    <input type="text" [(ngModel)]="doctorName" placeholder="Enter doctor Name" style="height:25px" />
  </div>
  <div style="display:flex; gap:12px;align-items:center;">
    <button style="height:30px" (click)="AddDoctor()">Add Doctor</button>
    <button style="height:30px">Cancel</button>
  </div>
  <div *ngIf="successMessage" [style.color]="'red'">{{ successMessage }}</div>
</div>
